<form action="/control" method="post">
   <h2>Lighting</h2>
   <label class="switch">
      <input type="checkbox" class="device" name="device1" data-id="1" onclick="form.submit()">
      <span class="slider round"></span>
      <span class="txt-slider">Hall</span>
   </label>

   <label class="switch">
      <input type="checkbox" class="device" name="device2" data-id="2">
      <span class="slider round"></span>
      <span class="txt-slider">Kitchen</span>
   </label>

   <label class="switch">
      <input type="checkbox" class="device" name="device3" data-id="3">
      <span class="slider round"></span>
      <span class="txt-slider">Front</span>
   </label>

   <label class="switch">
      <input type="checkbox" class="device" name="device4">
      <span class="slider round"></span>
      <span class="txt-slider">Back</span>
   </label>
</form>